<div class="wrapper-item">
    <div class="input-group mb-3">
        <input type="text" #noteName class="form-control" placeholder="{{'ITEM.TITLE' | translate}}"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary btn-sm" type="button"
                (click)="add(noteName.value)">{{'ITEM.ADD' | translate}}</button>
        </div>
    </div>

    <ul class=" notes">
        <li *ngFor="let note of notes">
            <a (click)="getDetail(note)" style="cursor: pointer">
                <span class="badge">{{ note.id || -1 }}</span>
                <span>{{note.title}}</span>
            </a>
            <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                (click)="delete(note)">{{'ITEM.DELETE' | translate}}</button>
        </li>
    </ul>
</div>