<div class="wrapper-detail">
    <form [formGroup]="cuForm" (ngSubmit)="edit()">
        <textarea name="areaName" formControlName="areaName" id="areaName" rows="3" cols="67"
            placeholder="Title"></textarea>
        <div class="detail-footer">
            <button type="button" class="btn btn-outline-dark btn-sm"
                (click)="goBack()">{{'DETAIL.BACK' | translate}}</button>

            <button type="button" class="btn btn-outline-success btn-sm" type="submit"
                color="success">{{'DETAIL.SAVE' | translate}}</button>
        </div>
    </form>
</div>