<div>
    <form [formGroup]="cuForm" (ngSubmit)="edit()">
        <textarea name="areaName" formControlName="areaName" id="areaName" rows="3" cols="50"
            placeholder="Title"></textarea>
        <div class="modal-footer pull-right">
            <button outline="true" type="submit" mdbBtn color="success" class="waves-effect" mdbWavesEffect><i
                    style="margin-right: 5px;" class="fas fa-save"></i>
                save
            </button>
        </div>
    </form>
    detail
    <div>{{this._data.data.title}}</div>
</div>